<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuth" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://scratch.hosted.panopto.com/Panopto/PublicAPI/4.6/Auth.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuth"
                contract="AuthService.IAuth" name="BasicHttpBinding_IAuth" />
        </client>
    </system.serviceModel>
</configuration>